.cs-wrapper {
  position: relative;
}

.cs-control {
  border: 2px solid var(--secondary-color);
  background-color: transparent;
  color: var(--secondary-color);

  border-radius: 6px;
  min-width: 64px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  user-select: none;

  &:hover {
    color: var(--text-color);
  }

  &:focus-visible {
    border: 2px solid transparent;
    color: var(--text-color);
    outline: 2px solid var(--text-color);
  }
}

.cs-control.open {
  border-radius: 6px 6px 0 0;
}

#cs-menu {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;

  background-color: var(--surface-color);
  color: var(--secondary-color);

  border: 2px solid var(--secondary-color);
  border-top: 0;
  border-radius: 0 0 6px 6px;
}

.cs-option {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 24px;
  cursor: pointer;
  outline: none;

  &:last-child {
    border-radius: 0 0 6px 6px;
  }

  &:hover,
  &:focus-visible {
    color: var(--text-color);
    background-color: var(--surface-hover-color);
  }
}

.cs-option.selected {
  color: var(--primary-color);
  font-weight: 600;
}
