.modal-backdrop:has(.mobile-sort-menu) {
  align-items: flex-end;
}

.mobile-sort-menu {
  background-color: var(--surface-color);
  min-width: 256px;
  border-radius: var(--radius-md);
  margin-bottom: var(--spacing-md);
  padding: var(--spacing-md) 0;
}

.mobile-sort-header {
  color: var(--text-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing-md);
}

.mobile-sort-close-button {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  height: var(--size-sm);
  width: var(--size-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-full);
  outline: none;

  &:hover,
  &:focus-visible {
    color: var(--primary-color);
    background-color: var(--surface-hover-color);
  }
}

.mobile-sort-option {
  background-color: transparent;
  color: var(--text-color);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: var(--size-sm);
  padding: 0 var(--spacing-xl);

  cursor: pointer;
  border: none;
  outline: none;

  &:hover,
  &:focus-visible {
    color: var(--primary-color);
    background-color: var(--surface-hover-color);
  }
}

.mobile-sort-option.selected {
  color: var(--accent-color);
  font-weight: 600;

  &:hover,
  &:focus-visible {
    background-color: var(--surface-hover-color);
  }
}

.mobile-sort-menu > .divider {
  height: var(--divider-weight);
  background-color: var(--background-color);
  margin: var(--spacing-sm) 0;
}
