.modal-backdrop:has(.mobile-sort-menu) {
  align-items: flex-end;
}

.mobile-sort-menu {
  background-color: var(--surface-color);
  min-width: 256px;
  border-radius: 16px;
  margin-bottom: 16px;
  padding: 16px 0;
}

.mobile-sort-header {
  color: var(--secondary-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.mobile-sort-close-button {
  background-color: transparent;
  border: none;
  color: var(--secondary-color);
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  outline: none;

  &:hover,
  &:focus-visible {
    color: var(--text-color);
    background-color: var(--surface-hover-color);
  }
}

.mobile-sort-option {
  background-color: transparent;
  color: var(--secondary-color);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 32px;
  padding: 0 24px;

  cursor: pointer;
  border: none;
  outline: none;

  &:hover,
  &:focus-visible {
    color: var(--text-color);
    background-color: var(--surface-hover-color);
  }
}

.mobile-sort-option.selected {
  color: var(--primary-color);
  font-weight: 600;

  &:hover,
  &:focus-visible {
    background-color: var(--surface-hover-color);
  }
}

.mobile-sort-menu > .divider {
  height: 4px;
  background-color: var(--background-color);
  margin: 12px 0;
}
