.sort-container {
  display: flex;
  gap: 12px;
  position: relative;
}

.custom-select-control {
  background-color: transparent;
  color: var(--secondary-color);

  display: flex;
  align-items: center;
  gap: 12px;

  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;

  &:hover,
  &:focus-visible {
    color: var(--text-color);
  }
}

@media (max-width: 475px) {
  .current-option {
    display: none;
  }
}

#custom-select-menu {
  position: absolute;
  margin-top: 12px;

  width: max-content;

  color: var(--secondary-color);
  background-color: var(--surface-color);
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
}

#custom-select-menu .select-buttons-container .custom-select-mobile-option {
  padding: 0 12px;
}

.custom-select-option {
  background-color: transparent;
  color: var(--secondary-color);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 32px;
  padding: 0 24px;
  padding: 0 12px;

  cursor: pointer;
  border: none;
  outline: none;

  &:first-child {
    border-radius: 6px 6px 0 0;
  }

  &:last-child {
    border-radius: 0 0 6px 6px;
  }

  &:hover,
  &:focus-visible {
    color: var(--text-color);
    background-color: var(--surface-hover-color);
  }
}

.custom-select-option.selected {
  color: var(--primary-color);
  font-weight: 600;

  &:hover,
  &:focus-visible {
    background-color: var(--surface-hover-color);
  }
}

.sort-button-order {
  background-color: transparent;
  color: var(--secondary-color);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: none;
  outline: none;

  &:hover,
  &:focus-visible {
    color: var(--text-color);
  }
}
