.test-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xl);
  padding: 0 var(--spacing-xl) var(--spacing-xl);
}

.text-config {
  display: flex;
  gap: var(--spacing-xl);
  user-select: none;
}

.text-config.hidden {
  visibility: hidden;
}

.text-config-list {
  background-color: var(--surface-color);
  border-radius: var(--radius-sm);
}

.text-config-item {
  background-color: transparent;
  color: var(--text-color);

  padding: var(--spacing-sm) var(--spacing-lg);
  border: none;

  &:hover {
    background-color: var(--surface-hover-color);
  }

  &:focus-visible {
    outline: 2px solid var(--primary-color);
  }

  &:first-child {
    border-radius: var(--spacing-sm) 0 0 var(--spacing-sm);
  }

  &:last-child {
    border-radius: 0 var(--spacing-sm) var(--spacing-sm) 0;
  }
}

.text-config-item.active {
  color: var(--primary-color);
}

.text-container {
  width: 100%;
  min-height: 300px;
  border-radius: var(--radius-sm);
  background-color: var(--surface-color);
}

.hidden-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  font-size: var(--font-size-base);
}

.text-wrapper {
  border-radius: var(--spacing-xl) var(--spacing-xl) 0 0;
  padding: var(--spacing-xl) var(--spacing-xl) var(--spacing-md);

  &:focus-within {
    outline: 2px solid var(--primary-color);
  }
}

.text-container .text {
  position: relative;
  height: calc(4 * 48px);
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;

  font-size: var(--font-size-lg);
  line-height: 1.5;
  display: flex;
  flex-wrap: wrap;
  pointer-events: none;
}

.untyped {
  color: var(--untyped-text-color);
}

.correct {
  color: var(--correct-text-color);
}

.incorrect {
  color: var(--incorrect-text-color);
}

.cursor {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--primary-color);
}

.text-container .buttons-container {
  border-top: 4px solid var(--background-color);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);

  padding: var(--spacing-md) var(--spacing-xl) var(--spacing-xl);
}

.timer {
  font-size: 20px;
  color: var(--primary-color);
}

@media (max-width: 839px) {
  .test-page {
    padding: 0;
  }

  .text-config {
    display: flex;
    flex-direction: column;

    overflow-x: scroll;
    width: 100%;
    scrollbar-width: none;
    gap: 4px;
    user-select: none;
  }

  .text-config-list {
    overflow-x: scroll;
    display: flex;

    scrollbar-width: none;
    border-radius: 0;
  }

  .text-container {
    border-radius: 0;
  }

  .text-wrapper {
    border-radius: 0;
    margin: 0 2px;
  }

  .text-config-item {
    flex-shrink: 0;
    flex-grow: 1;

    &:first-child,
    &:last-child {
      border-radius: 0;
    }
  }
}
