.test-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.text-config {
  display: flex;
  gap: 24px;
  user-select: none;
}

.text-config-list {
  background-color: var(--surface-color);
  border-radius: 12px;
}

.text-config-item {
  color: var(--text-color);
  background-color: transparent;
  border-width: 0;
  padding: 12px 20px;

  &:hover {
    background-color: var(--surface-hover-color);
  }

  &:focus-visible {
    outline: 2px solid var(--primary-color);
  }

  &:first-child {
    border-radius: 12px 0 0 12px;
  }

  &:last-child {
    border-radius: 0 12px 12px 0;
  }
}

.text-config-item.active {
  color: var(--primary-color);
}

.text-container {
  border-radius: 24px;
  background-color: var(--surface-color);
}

.text-container .text {
  border-radius: 24px 24px 0 0;
  background-color: var(--surface-color);

  font-size: 32px;
  line-height: 1.5;
  padding: 24px 24px 12px;

  &:focus {
    outline: 2px solid var(--primary-color);
  }

  &:focus-visible {
    outline: 2px solid var(--primary-color);
  }
}

.untyped {
  color: var(--untyped-text-color);
}

.correct {
  color: var(--correct-text-color);
}

.incorrect {
  color: var(--incorrect-text-color);
}

.cursor {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--primary-color);
}

.text-container .buttons-container {
  border-top: 4px solid var(--background-color);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  padding: 12px 24px 24px;
}

.timer {
  font-size: 20px;
  color: var(--primary-color);
}

.screenshot-only-styles {
  border-radius: 0 !important;
}
