.modal-confirm {
  background-color: var(--background-color);
  padding: var(--spacing-lg);
  border-radius: var(--radius-xl);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  width: 50%;
  max-width: 512px;
}

@media (max-width: 768px) {
  .modal-confirm {
    width: 75%;
  }
}

@media (max-width: 475px) {
  .modal-confirm {
    width: 90%;
  }
}

.icon-warning {
  display: flex;
  justify-content: center;
}

.modal-confirm-title {
  color: var(--color-warning);
  text-align: center;
}

.modal-confirm-message,
.modal-confirm-action {
  color: var(--primary-color);
}

.modal-confirm .modal-buttons-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-sm);
}

@media (max-width: 475px) {
  .modal-confirm .modal-buttons-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.modal-confirm .cancel-button,
.modal-confirm .confirm-button {
  background-color: var(--surface-color);
  padding: var(--spacing-sm) var(--spacing-lg);
  border-radius: var(--radius-sm);
  border: none;

  &:hover {
    background-color: var(--surface-hover-color);
  }
}

.modal-confirm .cancel-button {
  color: var(--primary-color);
}

.modal-confirm .confirm-button {
  color: var(--accent-color);
}
