.result-button {
  color: var(--secondary-color);
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);

  height: var(--button-md);

  border: none;
  outline: none;

  &:hover,
  &:focus-visible {
    color: var(--text-color);
  }

  &:active {
    color: var(--primary-color);
  }
}
