.modal-confirm {
  background-color: var(--background-color);
  padding: 24px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 50%;
  max-width: 512px;
}

@media (max-width: 768px) {
  .modal-confirm {
    width: 75%;
  }
}

@media (max-width: 475px) {
  .modal-confirm {
    width: 90%;
  }
}

.icon-warning {
  display: flex;
  justify-content: center;
}

.modal-confirm-title {
  color: var(--primary-color);
  text-align: center;
}

.modal-confirm-message,
.modal-confirm-action {
  color: var(--text-color);
}

.modal-confirm .modal-buttons-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

@media (max-width: 475px) {
  .modal-confirm .modal-buttons-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.modal-confirm .cancel-button,
.modal-confirm .confirm-button {
  background-color: var(--surface-color);
  padding: 12px 20px;
  border-radius: 12px;
  border: none;

  &:hover {
    background-color: var(--surface-hover-color);
  }
}

.modal-confirm .cancel-button {
  color: var(--text-color);
}

.modal-confirm .confirm-button {
  color: var(--primary-color);
}
