header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xl);
}

.logotype-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

#logotype-icon {
  color: var(--accent-color);
  width: var(--size-lg);
  height: var(--size-md);
}

.logotype-text {
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: var(--font-size-xl);
  font-weight: bold;
}

header .buttons-container {
  display: flex;
  gap: var(--spacing-md);
}

.setting-button {
  background-color: transparent;
  color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-lg);
  width: var(--size-lg);
  border-radius: 50%;
  border: none;

  &:hover {
    background-color: var(--surface-hover-color);
  }

  &:active {
    color: var(--primary-color);
  }

  &:focus-visible {
    outline: var(--border-main);
  }
}

.menu-backdrop {
  display: none;
}

@media (max-width: 767px) {
  header .buttons-container {
    display: none;
  }

  .menu-backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .menu-container {
    background-color: var(--background-color);
    border-radius: 0;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .menu-container .logotype-container {
    padding: var(--spacing-xl);
  }

  .menu-container .buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: end;
    padding: var(--spacing-xl);
    height: 100%;
  }
}

@media (min-width: 767px) {
  .toggle-menu-button {
    display: none;
  }
}
