.learning-page {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.learning-title {
  color: var(--primary-color);
  text-align: center;
}

.learning-subtitle {
  font-size: 18px;
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center;
}

.advice-block {
  background-color: var(--surface-color);
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.advice-list {
  display: contents;
}

.advice-list li {
  display: flex;
  gap: 12px;
}

.advice-list span {
  color: var(--primary-color);
  font-weight: bold;
}
