.history-page {
  padding: 0 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (max-width: 767px) {
  .history-page {
    padding: 0 0 24px;
  }
}

.history-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.empty-history {
  text-align: center;
  margin: 10vh 0;
  padding: 24px;
}

.empty-history-title {
  color: var(--primary-color);
  margin-bottom: 12px;
}

.empty-history-action {
  color: var(--text-color);
  font-size: 18px;
}

.history-header {
  display: flex;
  align-items: center;

  /* overflow-y: auto; */
  scroll-behavior: smooth;
  scrollbar-width: none;

  justify-content: space-between;
  background-color: var(--surface-color);
  color: var(--text-color);
  border-radius: 16px;
  padding: 16px;

  /* border-radius: 24px; */
  padding: 24px;
}

@media (max-width: 839px) {
  .history-header {
    border-radius: 0;
  }
}

.history-header .buttons-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* .history-header button {
  color: var(--text-color);
  background-color: transparent;
  border-width: 0;
} */

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.pagination-button {
  background-color: var(--surface-color);
  color: var(--text-color);
  border-width: 0;
  border-radius: 12px;
  height: 48px;
  min-width: 48px;

  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  &:hover {
    background-color: var(--surface-hover-color);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;

    /* &:hover {
      background-color: var(--surface-color);
    } */
  }
}

.pagination-button:first-child,
.pagination-button:last-child {
  /* background-color: var(--primary-color); */
  padding: 0 24px;
  /* width: max-content; */
}

.pagination-button.active {
  color: var(--primary-color);
}

/* .history-controls {
  display: flex;
  flex-direction: column;
  gap: 12px;
} */

.history-controls.filter-open .history-header {
  /* border-radius: 24px 24px 0 0; */
  border-radius: 16px 16px 0 0;
}

@media (max-width: 767px) {
  .history-controls.filter-open .history-header {
    border-radius: 0;
  }
}

.history-control-button {
  color: var(--secondary-color);
  background-color: transparent;
  border-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  /* height: 40px; */
  /* padding: 0 12px; */
  border-radius: 8px;

  color: var(--secondary-color);

  &:hover {
    color: var(--text-color);
  }

  &:active {
    color: var(--primary-color);
  }

  &:focus-visible {
    /* outline: 2px solid var(--primary-color); */

    color: var(--text-color);
    /* background-color: var(--surface-hover-color); */
    outline: none;
  }
}
