.history-page {
  padding: 0 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (max-width: 767px) {
  .history-page {
    padding: 0;
  }
}

.history-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.empty-history {
  text-align: center;
  margin-top: 10vh;
  padding: 24px;
}

.empty-history-title {
  color: var(--primary-color);
  margin-bottom: 12px;
}

.empty-history-action {
  color: var(--text-color);
  font-size: 18px;
}

.history-header {
  display: flex;
  justify-content: space-between;
}

.history-header h2 {
  color: var(--primary-color);
}

.history-header button {
  color: var(--primary-color);
  background-color: transparent;
  border-width: 0;
}

.history-header .buttons-container {
  display: flex;
  gap: 12px;
}

.filter-button,
.sort-button,
.clear-all-button {
  color: var(--secondary-color);
  background-color: transparent;
  border-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 32px;

  &:hover {
    color: var(--text-color);
  }

  &:active {
    color: var(--primary-color);
  }

  &:focus-visible {
    outline: 2px solid var(--primary-color);
  }
}
