body.modal-open {
  user-select: none;
  overflow: hidden;
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  user-select: text;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
