* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  user-select: none;
}

textarea {
  font-family: inherit;
  font-size: inherit;
}

html {
  scrollbar-gutter: stable;
}

@media (max-width: 767px) {
  html {
    scrollbar-gutter: unset;
  }
}

body {
  background-color: var(--background-color);
  font-family: "Roboto Mono", monospace;
}

#root {
  display: flex;
  justify-content: center;
}

.app {
  width: 100%;
  max-width: 1280px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: var(--surface-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
}

::selection {
  background-color: var(--accent-color);
  color: var(--background-color);
}

:root {
  --accent-color: #49a078;
  --secondary-color: #929598;
  --background-color: #ededed;

  --surface-color: #f7f7f7;
  --surface-hover-color: #e3e3e3;
  --text-color: #212121;

  --untyped-text-color: var(--secondary-color);
  --correct-text-color: var(--text-color);
  --incorrect-text-color: #c1121f;

  --color-error: #f23d4a;
  --color-warning: #fcbb1a;

  --disabled-color: #646669;

  --divider-weight: 4px;
  --border-width: 2px;
  --border-main: var(--border-width) solid var(--accent-color);

  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-md: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 32px;

  --radius-xs: 8px;
  --radius-sm: 12px;
  --radius-md: 16px;
  --radius-lg: 20px;
  --radius-xl: 24px;
  --radius-full: 50%;

  --size-sm: 32px;
  --size-md: 40px;
  --size-lg: 48px;
  --size-xl: 56px;

  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 20px;
  --spacing-xl: 24px;
}

.dark {
  --accent-color: #49a078;
  --primary-color: #e8e8e8;
  --secondary-color: #929598;

  --background-color: #323437;
  --surface-color: #2c2e31;
  --surface-hover-color: #232527;

  --text-color: #646669;

  --untyped-text-color: var(--text-color);
  --correct-text-color: var(--primary-color);
  --incorrect-text-color: #c1121f;
}
