header {
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logotype-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

#logotype-icon {
  color: var(--primary-color);
  width: 48px;
  height: 40px;
}

.logotype-text {
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 32px;
  font-weight: bold;
}

.navigation-list {
  user-select: none;
}

.navigation-item {
  color: var(--text-color);
  background-color: var(--surface-color);
  padding: 12px 20px;
  cursor: pointer;

  &:hover {
    background-color: var(--surface-hover-color);
  }

  &:focus-visible {
    outline: 2px solid var(--primary-color);
  }

  &:first-child {
    border-radius: 12px 0 0 12px;
  }

  &:last-child {
    border-radius: 0 12px 12px 0;
  }
}

.navigation-item.active {
  color: var(--primary-color);
}

header .buttons-container {
  display: flex;
  gap: 12px;
}

.language-select-button,
.theme-toggle-button {
  color: var(--primary-color);
  background-color: transparent;
  border-radius: 50%;
  border-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;

  &:hover {
    background-color: var(--surface-hover-color);
  }

  &:active {
    color: var(--text-color);
  }

  &:focus-visible {
    outline: 2px solid var(--primary-color);
  }
}
