header {
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logotype-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

#logotype-icon {
  color: #cfe741;
  width: 48px;
  height: 40px;
}

.logotype-text {
  color: aliceblue;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 32px;
  font-weight: bold;
}

.navigation-list {
  user-select: none;
}

.navigation-item {
  color: aliceblue;
  background-color: #2c2e31;
  padding: 12px 20px;
}

.navigation-item:hover {
  color: rgba(255, 255, 255, 0.75);
  background-color: #232527;
  cursor: pointer;
}

.navigation-item.active {
  color: #cfe741;
}

.navigation-item:first-child {
  border-radius: 12px 0 0 12px;
}

.navigation-item:last-child {
  border-radius: 0 12px 12px 0;
}

.buttons-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.language-icon,
.theme-toggle-button {
  transition: color 0.3s ease;
  background-color: transparent;
  border-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  outline-width: 4px;
  height: 48px;
  width: 48px;
}

#language-icon:hover,
.theme-toggle-button:hover {
  background-color: #232527;
}

#language-icon,
#theme-icon {
  color: #cfe741;
  width: 32px;
  height: 32px;
}

#language-icon:active,
#theme-icon:active {
  color: aliceblue;
}
