.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.filter-container {
  background-color: var(--background-color);
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 1024px;
  width: 75%;
}

.filter-title {
  color: var(--primary-color);
  font-size: 20px;
}

.filter-content {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.active-filter {
  font-weight: bold;
  color: var(--primary-color);
}

.filter-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.filter-list li:first-child {
  padding-bottom: 12px;
  border-bottom: 4px solid var(--primary-color);
}

.filter-duration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  line-height: 1;
}

.filter-reset-button,
.filter-confirm-button {
  background-color: var(--surface-color) !important;
  border-width: 0;
  padding: 12px 20px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--surface-hover-color) !important;
  }

  &:focus-visible {
    outline: 2px solid var(--primary-color);
    z-index: 10;
  }
}

.filter-reset-button {
  color: var(--text-color) !important;
  border-radius: 12px 0 0 12px;
}

.filter-confirm-button {
  color: var(--primary-color) !important;
  border-radius: 0 12px 12px 0;
}
