.filter-content {
  display: none;
  justify-content: space-between;
  gap: 12px;

  background-color: var(--surface-color);
  color: var(--text-color);
  border-radius: 24px;
  padding: 24px;
}

.filter-content.open {
  display: flex;
}

@media (max-width: 767px) {
  .filter-content {
    border-radius: 0;
  }
}

h4 {
  color: var(--primary-color);
  padding-bottom: 12px;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.active-filter {
  font-weight: bold;
  color: var(--primary-color);
}

.duration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  line-height: 1;
}

.duration select {
  text-align: right;
  padding: 0 16px;
  font-size: 16px;
  border-width: 0;
  color: var(--text-color);
  background-color: var(--surface-color);
  cursor: pointer;
  height: 32px;
}
