.history-list {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.history-list > li {
  padding: 24px;
  background-color: #2c2e31;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.history-list .text {
  color: aliceblue;
}

.history-list .stats {
  display: flex;
  justify-content: space-between;
}

.history-list .stats p {
  color: #646669;
}

.history-list .stats span {
  color: #cfe741;
}
