.history-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.history-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--surface-color);
  padding: 24px;
  border-radius: 24px;
}

.history-list .text {
  color: var(--text-color);
}

.history-list .stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.history-list .stats li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.history-list .stats p {
  color: var(--secondary-color);
}

.history-list .stats span {
  color: var(--primary-color);
}

.history-list .stats .button-play-container {
  display: flex;
  flex-direction: row;
  color: var(--secondary-color);
  gap: 12px;
}

.play-icon {
  cursor: pointer;
}
