.learning-page {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.learning-page h1,
.learning-page h2 {
  color: var(--primary-color);
  text-align: center;
}

.learning-page .list {
  display: contents;
}

.advice-block .list li {
  display: flex;
  gap: 12px;
}

.advice-block .list li span {
  color: var(--primary-color);
  font-weight: bold;
}

.advice-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: var(--surface-color);
  padding: 24px;
  border-radius: 24px;
}

.learning-subtitle {
  font-size: 18px;
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center;
}
