.learning-page {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.learning-page h1,
.learning-page h2 {
  color: #cfe741;
  text-align: center;
}

.learning-page .list {
  display: contents;
}

.advice-block .list li {
  display: flex;
  gap: 12px;
}

.advice-block .list li span {
  color: #cfe741;
}

.advice-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #2c2e31;
  padding: 24px;
  border-radius: 24px;
}

.learning-subtitle {
  font-size: 18px;
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center;
}
