.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: var(--background-color);
  border-radius: 24px;
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  max-width: 1024px;
  width: 75%;
}

.modal-title {
  color: var(--primary-color);
  font-size: 20px;
  padding-left: 12px;
}

.modal-container form {
  display: contents;
}

.modal-container textarea {
  color: var(--text-color);
  background-color: var(--surface-color);
  border-width: 0;
  border-radius: 16px;
  padding: 12px;
  resize: none;

  caret-color: var(--primary-color);

  &:focus-visible {
    outline: 2px solid var(--primary-color);
  }
}

.modal-footer {
  display: flex;
  justify-content: end;
}

.cancel-button,
.confirm-button {
  background-color: var(--surface-color);
  border-width: 0;
  padding: 12px 20px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--surface-hover-color);
  }
}

.cancel-button {
  color: var(--text-color);
  border-radius: 12px 0 0 12px;
}

.confirm-button {
  color: var(--primary-color);
  border-radius: 0 12px 12px 0;
}
