.test-page {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-config {
  display: flex;
  gap: 24px;
  user-select: none;
}

.text-config-list {
  list-style-type: none;
  display: flex;
  background-color: #2c2e31;
  border-radius: 12px;
}

.text-config-item {
  padding: 12px 20px;
  color: aliceblue;
}

.text-config-item.active {
  color: #cfe741;
}

.text-config-item:hover {
  background-color: color-mix(in srgb, #2c2e31 80%, #000);
  cursor: pointer;
}

.text-config-item:first-child {
  border-radius: 12px 0 0 12px;
}

.text-config-item:last-child {
  border-radius: 0 12px 12px 0;
}

.text-container {
  border-radius: 24px;
  background-color: #2c2e31;
  font-size: 24px;
  padding: 24px;
  margin: 24px 0;
}

.text-container .text {
  display: inline;
  color: #646669;
}

.restart-test-button {
  color: #646669;
  background-color: transparent;
  border: transparent;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
}

.restart-test-button:hover {
  color: #d1d0c5;
}

.restart-test-button:active {
  color: #646669;
}
