.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm);
}

.pagination-button {
  background-color: var(--surface-color);
  color: var(--secondary-color);

  border-radius: var(--radius-sm);
  height: var(--size-lg);
  min-width: var(--size-lg);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);

  border: none;
  cursor: pointer;

  &:active {
    color: var(--accent-color);
  }

  &:hover {
    background-color: var(--surface-hover-color);
    color: var(--primary-color);
  }

  &:focus-visible {
    outline: 2px solid var(--accent-color);
  }
}

.pagination-button:first-child,
.pagination-button:last-child {
  padding: 0 var(--spacing-xl);
}

.pagination-button.active {
  color: var(--accent-color);
}

.pagination-button-text {
  display: block;
}

@media (max-width: 839px) {
  .pagination-button:first-child,
  .pagination-button:last-child {
    padding: 0;
  }

  .pagination-button-text {
    display: none;
  }
}
